@font-face { font-family: k2d; 
    src: url('asset/font/K2D-Thin.ttf'); } 
  
* {
font-family: k2d, Arial;
}

#monash {
    visibility: "visible";
}

.img-container {
    position: relative;
    width:80%;
    height: 30%;
    top: 6%;
    left: 17%;
  }

#jubilee {
    position: absolute;
    left:17%;
    top: 114%;
}
  
#monash-img {
    height:100%;
    width: 100%;
    border-radius: 5px;
    filter: brightness(50%);
}

.progressBar {
    margin-top: 1%;
    border: 2px solid rgb(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 70%;
    height: 25px;
}

.progress {
    height: 100%;
    width: 0%;
    position: relative;
    background-color: #302251;
}

#gpa {
    position: relative;
    top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}

#cgpa {
    position: relative;
    top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}


@media screen and (max-width:768px) {
    .img-container {
        width:80%;
        height:20%;
    }

    #jubilee {
        position: absolute;
        top: 117%;
    }
}