
#start {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url("../asset/img/bg.87635d9.webp");
}
  
#about-me-image {
    height: auto;
    width:60%;
    position: relative;
    top: 23%;
    left: 13%;
}

@media screen and (max-width:768px) {
    #start {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-image: url("../asset/img/bg.87635d9.webp");
    }    

    #about-me-image {
        height: auto;
        width:80%;
        position: relative;
        top: 23%;
        left: 13%;
    }
    
}