
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

@font-face { font-family: k2d; 
  src: url('asset/font/K2D-Thin.ttf'); } 

* {
  font-family: k2d, Arial;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px 0px;
}

.container::before{
  content: "";
  position: absolute;
  left: 15%;
  top: 20%; 
  width: 1px; 
  height: 2000px;
  background-color: white;

}


#container-education{
  background-color: #191425;
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
}

#start {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-image: url("../asset/img/bg.87635d9.webp");
}


#about-me-image {
  height: auto;
  width:60%;
  position: relative;
  top: 23%;
  left: 13%;
}

h1 {
  font-family: k2d;
  color: white;
  padding: 0;
  margin:0;
}

h3 {
  font-family: k2d;
  color: white;
  padding: 0;
  margin:0;
  font-size: 25px;
}

h4 {
  font-family: k2d;
  color: white;
  font-size: 20px;
}

h5 {
  font-family: k2d;
  color: white;
  font-size: 15px;
}


