
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navBar {
  background-color: #ADD8E6 !important;
  overflow:hidden;
  height: 40px;
  /* opacity: 0.8; */
  position: fixed;
  width: 100%;
  padding-top: 0px;
  z-index: 9999;
}

.contactMe{
  z-index: 9999;
  width: 200px;
  height:200px;
  position: fixed;
  top: 650px;
  left: 1430px;
}

#contact {
  background-color: #9cd095 !important;
}

.nav nav-pills {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  color:aliceblue;
  font-size: 20px;
  font-family: k2d;
  float:right;
  
}

nav ul li{
  margin: 0 20px;
}

#sectionHeader {
  font-size: 20px;
  font-family: k2d;
  color:aliceblue;
  float:left;
  margin-left:20px;
}

@font-face { font-family: k2d; 
  src: url('font/K2D-Thin.ttf'); } 


.container {
  position: absolute;
  top: 10%;
  left: 8%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  column-gap: 10px;
  row-gap: 10px;
}

.contactContainer {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: 100%;
  column-gap: 10px;
}

.aboutMe {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}

.resume {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.programmingLanguages {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 124px;
  overflow: auto;
}

.cardLanguages {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;

}

.skill {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 3;

}




.bg-image1{
  background-color: rgb(138, 170, 229);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-image2{
  background-color: rgb(255,255,255);
  /* Full height */
  height: 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  font-family: k2d;
  font-size: 40px;
  position: absolute;
}

#intro{
  width:100%;
  margin-right: 100px;
  margin-left: 100px;
}





